{% extends 'base.html' %} {% block body %}
<div class="hidden" id="modalEditUser">{% include "modalEditUser.html" %}</div>
<div>
  {% with messages = get_flashed_messages(with_categories=true) %} {% for
  category,message in messages %}
  <div
    class="{% if category =='failed' %} bg-red-500 border-red-700 {% elif category == 'success' %} bg-green-500 border-gren-700 {% endif %} rounded-md border-2 py-1 text-center text-white w-full text-xs"
  >
    <span>{{ message }}</span>
  </div>

  {% endfor %} {% endwith %}
  <div class="m-3 rounded-xl border-2">
    <div class="flex justify-center my-3">
      <h2 class="text-2xl font-semibold underline">Membuat Akun Baru</h2>
    </div>
    <form action="/usermanager/add" method="POST" class="w-full">
      <div class="sm:flex sm:justify-center">
        <div class="p-2 grid md:grid-cols-2 lg:grid-cols-4">
          <div class="w-full px-2">
            <label for="role" class="block text-sm">Role:</label>
            <select
              name="role"
              id="role"
              class="border-2 outline-none w-full ml-2 rounded-md px-2 py-1"
            >
              {% for role in dataRole %}
              <option value="{{ role.nama }}">{{ role.nama }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="w-full px-2">
            <label for="nama" class="block text-sm">Nama:</label>
            <input
              type="text"
              name="nama"
              class="ml-2 w-full rounded-md border-2 outline-none md:w-auto invalid:border-red-500 px-2 py-1"
              placeholder="Nama"
              required
            />
          </div>
          <div class="px-2 w-full">
            <label for="email" class="block text-sm">E-mail:</label>
            <input
              type="email"
              name="email"
              class="ml-2 w-full rounded-md border-2 outline-none md:w-auto invalid:border-red-500 px-2 py-1"
              placeholder="E-mail"
              required
            />
          </div>
          <div class="px-2 w-full">
            <label for="username" class="block text-sm">Username:</label>
            <input
              type="text"
              name="username"
              class="ml-2 w-full rounded-md border-2 outline-none md:w-auto invalid:border-red-500 px-2 py-1"
              placeholder="Username"
              required
            />
          </div>
          <div class="px-2 w-full">
            <label for="password" class="block text-sm">Password:</label>
            <input
              type="password"
              name="password"
              class="ml-2 w-full rounded-md border-2 outline-none md:w-auto invalid:border-red-500 px-2 py-1"
              placeholder="Password"
              required
            />
          </div>
        </div>
      </div>
      <div class="flex justify-end p-2">
        <input
          type="submit"
          value="Tambahkan"
          class="cursor-pointer rounded-md bg-green-500 hover:bg-green-600 py-1 px-2 text-white"
        />
      </div>
    </form>
  </div>
  <div class="mx-2 overflow-auto sm:flex sm:justify-center">
    <div>
      <div class="flex justify-center my-3">
        <h2 class="text-2xl font-semibold underline">Data Akun</h2>
      </div>
      <table class="my-3 table-auto border-2">
        <tr class="border-2 bg-gray-200">
          <th class="px-2">id</th>
          <th class="px-2">Nama</th>
          <th class="px-2">E-mail</th>
          <th class="px-2">Username</th>
          <th class="px-2">Aksi</th>
        </tr>
        {% for row in data %}
        <tr class="even:bg-gray-100">
          <td class="px-2">{{ row.id }}</td>
          <td class="px-2">{{ row.nama }}</td>
          <td class="px-2">{{ row.email }}</td>
          <td class="px-2">{{ row.username }}</td>
          <td class="px-2">
            <div class="my-1">
              <button
                class="ubah-user rounded-md bg-blue-500 px-2 py-1 text-white"
                data-username="{{ row.username }}"
              >
                Ubah
              </button>
              <a
                href="/usermanager/delete/{{ row.username }}"
                class="rounded-md bg-red-500 px-2 py-1 text-white"
              >
                Hapus
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<script>
  $(".ubah-user").click(function () {
    var username = $(this).data("username");
    $.ajax({
      url: "/usermanager/getuser/" + username,
      dataType: "json",
      type: "GET",
      success: function (data) {
        value = data.value;

        $("#modalEditUserForm").trigger("reset");
        $("#modalEditUserForm input[type='submit']").prop("disabled", false);
        $("#labelCPassword").hide();
        $("#modalEditUserForm").attr(
          "action",
          "/usermanager/edit/" + value.username
        );
        $("#modalEditUserForm select[name='role']").val(value.role);
        $("#modalEditUserForm input[name='nama']").val(value.nama);
        $("#modalEditUserForm input[name='email']").val(value.email);
        $("#modalEditUserForm input[name='username']").val(value.username);
      },
    });
    $("#modalEditUser").removeClass("hidden");
  });
  $(".close-modal").click(function () {
    $("#modalEditUser").addClass("hidden");
  });

  $.fn.checkPassword = function () {
    console.log("Press");
    password = $("#editUserFormPassword").val();
    confirmPassword = $("#editUserFormRetypepassword").val();
    if (password != confirmPassword) {
      $("#labelCPassword").show();
      $("#modalEditUserForm input[type='submit']").prop("disabled", true);
    } else {
      $("#labelCPassword").hide();
      $("#modalEditUserForm input[type='submit']").prop("disabled", false);
    }
  };
  $(document).ready(function () {
    $("#modalEditUserForm input[name='retypepassword']").keyup(
      $.fn.checkPassword
    );
    $("#modalEditUserForm input[name='password']").keyup($.fn.checkPassword);
  });
</script>
{% endblock %}
